/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'FontAwesome';
  src: sai-font('font-awesome/fontawesome-webfont.eot?v=#{$fa-version}');
  src: sai-font('font-awesome/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
    sai-font('font-awesome/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2'),
    sai-font('font-awesome/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
    sai-font('font-awesome/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
    sai-font('font-awesome/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
//  src: sai-font('font-awesome/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}
