// Menu - Main
.#{$package-prefix}-menu.horizontal ~ div#main {
    top: rem-calc(90);
}

.#{$package-prefix}-menu.vertical ~ div#main {
    left: rem-calc(255);
}

// Sidebar - Main
.#{$package-prefix}-sidebar.left ~ div#main {
    left: rem-calc(55);
}

.#{$package-prefix}-sidebar.right ~ div#main {
    right: rem-calc(55);
}

.#{$package-prefix}-sidebar.left.push:not(.collapsed) ~ div#main {
    left: rem-calc(335);
}

.#{$package-prefix}-sidebar.right.push:not(.collapsed) ~ div#main {
    right: rem-calc(335);
}

// Menu - Sidebar
nav.#{$package-prefix}-menu.horizontal ~ .#{$package-prefix}-sidebar {
    top: rem-calc(107);
}

nav.#{$package-prefix}-menu.vertical ~ .#{$package-prefix}-sidebar {
    top: rem-calc(17);
}
