form.#{$package-prefix}-form {
    position: relative;

    hr {
        margin: rem-calc(12) auto;
    }

    label {
        @include sai-input-label;
    }

    input {
        @include sai-input-input;
    }

    textarea {
        @include sai-input-textarea;
    }

    select {
        @include sai-input-select;
    }

    button {
        @include sai-input-button;
    }
}
