.#{$package-prefix}-modal {
    position: relative;
    padding: rem-calc(34);
    text-align: center;

    h3 {
        margin: rem-calc(12 0);
        font-family: "Athelas Regular";
        font-size: rem-calc(21);
    }

    p {
        margin: rem-calc(33 0);
        line-height: rem-calc(18);
        font-family: "Brandon Grotesque Regular";
        font-size: rem-calc(16);
    }
}
