<div class="sai-login-page">
    <div class="row login-box">
        <div class="columns large-3 large-centered medium-8 medium-centered small-12 small-centered text-center">
            <div class="logo-wrapper">
                <img src="../sai-assets/images/logo-kerrn-login.png" alt="login logo">
            </div>

            <div class="welcome-text-wrapper">
                <span>Log-in</span>
            </div>

            <input id="email" type="text" class="sai secondary sai-full-width" placeholder="email address" autofocus>
            <input id="password" type="password" class="sai secondary sai-full-width" placeholder="password">

            <div class="login-button">
                <button class="button primary round small" id="submitLogin">
                    <span>LOG-IN</span>
                </button>
            </div>

            <div class="forgot-password-wrapper">
                <span>Forgot password?</span>
                <a href="#" class="forgot-password-button">Click here</a>
            </div>
        </div>
    </div>
</div>