/// Base path for assets (fonts, images...),
/// should not include trailing slash
/// @access public
/// @type String
$sai-asset-base-path: '../sai-assets' !default;

/// Asset URL builder
/// @access private
/// @param {String} $type - Asset type, matching folder name
/// @param {String} $file - Asset file name, including extension
/// @return {URL} - A `url()` function leading to the asset
@function sai-asset($type, $file) {
  @return url($sai-asset-base-path + '/' + $type + '/' + $file);
}

/// Image asset helper
/// @access public
/// @param {String} $file - Asset file name, including extension
/// @return {URL} - A `url()` function leading to the image
/// @require {function} asset
@function sai-image($file) {
  @return sai-asset('images', $file);
}

/// Font asset helper
/// @access public
/// @param {String} $file - Asset file name, including extension
/// @return {URL} - A `url()` function leading to the font
/// @require {function} asset
@function sai-font($file) {
  @return sai-asset('fonts', $file);
}
