.#{$package-prefix} {

    &-full-width {
        width: 100% !important;
    }

    &-no-margin {
        margin: 0 !important;
    }

    &-no-padding {
        padding: 0 !important;
    }

    &-left {
        float: left !important;
    }

    &-right {
        float: right !important;
    }
    
    &-center-content {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
        height: 100% !important;
    }
    
    @each $key, $value in $app-colors {
        &-bg-#{$key} {
            background-color: $value !important;
        }
    }
    
    @each $key, $value in $app-colors {
        &-text-#{$key} {
            color: $value !important;
        }
    }    
}
