@mixin sia-bar() {
    @include grid-row;
    position: relative;
    width: 100%;
    max-width: none;
    height: rem-calc(56);
    padding: rem-calc(13);

    background-color: $light-gray;

    font-family: 'Athelas Regular';
    text-transform: uppercase;
    text-align: center;
}

@mixin sia-header-bar() {
    @include sia-bar;
}

@mixin sia-footer-bar() {
    @include sia-bar;
}
