.#{$package-prefix}-scrollbox-holder {
    overflow: hidden;

    & > .#{$package-prefix}-scrollbox-content {
        height: inherit;
        overflow-y: scroll;
        margin-right: -18px;
        padding-right: 0px;
    }
}
