<div class="sai-hexagon-view">
    <div class="row">
        <div class="hexagons">
            <a class="hexagon"><span class="title">Default</span></a>
            <a class="hexagon primary"><span class="title">Primary</span></a>
        </div>
    </div>
    <div class="row">
        <div class="hexagons">
            <a class="hexagon secondary"><span class="title">Secondary</span></a>
            <a class="hexagon alert"><span class="title">Alert</span></a>
            <a class="hexagon warning"><span class="title">Warning</span></a>
        </div>
    </div>
    <div class="row">
        <div class="hexagons">
            <a class="hexagon success"><span class="title">Success</span></a>
            <a class="hexagon hollow"><span class="title">Default hollow</span></a>
        </div>
    </div>
    <div class="row">
        <div class="hexagons">
            <a class="hexagon primary hollow"><span class="title">Primary hollow</span></a>
            <a class="hexagon secondary hollow"><span class="title">Secondary hollow</span></a>
            <a class="hexagon alert hollow"><span class="title">Alert hollow</span></a>
        </div>
    </div>
    <div class="row">
        <div class="hexagons">
            <a class="hexagon warning hollow"><span class="title">Warning hollow</span></a>
            <a class="hexagon success hollow"><span class="title">Success hollow</span></a>
        </div>
    </div>
</div>
