<div class="columns small-12 medium-6">
    Active
    <hr />
    <label>
        <input type="text" class="sai" placeholder="naam" />
    </label>
    <label>
        <input type="text" class="sai primary" placeholder="naam" />
    </label>
    <label>
        <input type="email" class="sai" placeholder="email" />
    </label>
    <label>
        <input type="password" class="sai" placeholder="wachtwoord" />
    </label>
    <label>
        <input type="number" class="sai" placeholder="nummer" />
    </label>
    <label>
        <input type="url" class="sai" placeholder="url" />
    </label>
    <label>
        <input type="date" class="sai" placeholder="datum" />
    </label>
    <label>
        <input type="tel" class="sai" placeholder="telefoon" />
    </label>
    <label>
        <input type="file" class="sai" placeholder="bestand" />
    </label>
    <label>
        <input type="color" class="sai" placeholder="kleur" />
    </label>
    <label>
        <input type="button" class="sai" placeholder="knop" value="knop" />
    </label>
    <label>
        <input type="radio" class="sai" name="radiobox" />
        <span>Ja</span>
    </label>
    <label>
        <input type="radio" class="sai" name="radiobox" />
        <span>Nee</span>
    </label>
    <label>
        <input type="checkbox" class="sai" name="radiobox" />
        <span>Ja</span>
    </label>
    <label>
        <input type="checkbox" class="sai" name="radiobox" />
        <span>Nee</span>
    </label>


    <input class="sai-switch" id="switch1" type="checkbox" checked name="switch1">
    <label class="sai-switch-paddle" for="switch1"></label>
    <br>
    <input class="sai-switch" id="switch2" type="checkbox" checked name="switch2">
    <label class="sai-switch-paddle primary" for="switch2"></label>
    <br>
    <input class="sai-switch" id="switch3" type="checkbox" checked name="switch3">
    <label class="sai-switch-paddle secondary" for="switch3"></label>
    <br>
    <input class="sai-switch" id="switch4" type="checkbox" checked name="switch4">
    <label class="sai-switch-paddle alert" for="switch4"></label>
    <br>
    <input class="sai-switch" id="switch5" type="checkbox" checked name="switch5">
    <label class="sai-switch-paddle warning" for="switch5"></label>
    <br>
    <input class="sai-switch" id="switch6" type="checkbox" checked name="switch6">
    <label class="sai-switch-paddle success" for="switch6"></label>
    <br>


    <textarea class="sai" rows="4">Tekstvak!</textarea>
    <br>

    <select class="sai" name="opties1">
        <option>Optie 1</option>
        <option>Optie 2</option>
        <option>Optie 3</option>
    </select>
    <br>
    <select class="sai primary" name="opties2">
        <option>Optie 1</option>
        <option>Optie 2</option>
        <option>Optie 3</option>
    </select>
    <br>
    <select class="sai secondary" name="opties3">
        <option>Optie 1</option>
        <option>Optie 2</option>
        <option>Optie 3</option>
    </select>
    <br>
    <button class="sai">Default</button>
    <button class="sai hollow">Default hollow</button>
    <br>
    <button class="sai primary">Primary</button>
    <button class="sai primary hollow">Primary hollow</button>
    <br>
    <button class="sai secondary">Secondary</button>
    <button class="sai secondary hollow">Secondary hollow</button>
    <br>
    <button class="sai alert">Alert</button>
    <button class="sai alert hollow">Alert hollow</button>
    <br>
    <button class="sai warning">Warning</button>
    <button class="sai warning hollow">Warning hollow</button>
    <br>
    <button class="sai success">Success</button>
    <button class="sai success hollow">Success hollow</button>
</div>
<div class="columns small-12 medium-6">
    Disabled
    <hr />
    <label>
        <input type="text" class="sai" placeholder="naam" disabled="disabled" />
    </label>
    <label>
        <input type="text" class="sai primary" placeholder="naam" disabled="disabled" />
    </label>
    <label>
        <input type="email" class="sai" placeholder="email" disabled="disabled" />
    </label>
    <label>
        <input type="password" class="sai" placeholder="wachtwoord" disabled="disabled" />
    </label>
    <label>
        <input type="number" class="sai" placeholder="nummer" disabled="disabled" />
    </label>
    <label>
        <input type="url" class="sai" placeholder="url" disabled="disabled" />
    </label>
    <label>
        <input type="date" class="sai" placeholder="datum" disabled="disabled" />
    </label>
    <label>
        <input type="tel" class="sai" placeholder="telefoon" disabled="disabled" />
    </label>
    <label>
        <input type="file" class="sai" placeholder="bestand" disabled="disabled" />
    </label>
    <label>
        <input type="color" class="sai" placeholder="kleur" disabled="disabled" />
    </label>
    <label>
        <input type="button" class="sai" placeholder="knop" value="knop" disabled="disabled" />
    </label>
    <label>
        <input type="radio" class="sai" name="radiobox" disabled="disabled" />
        <span>Ja</span>
    </label>
    <label>
        <input type="radio" class="sai" name="radiobox" disabled="disabled" />
        <span>Nee</span>
    </label>
    <label>
        <input type="checkbox" class="sai" name="radiobox" disabled="disabled" />
        <span>Ja</span>
    </label>
    <label>
        <input type="checkbox" class="sai" name="radiobox" disabled="disabled" />
        <span>Nee</span>
    </label>


    <input class="sai-switch" id="switch1" type="checkbox" checked name="switch1" disabled="disabled">
    <label class="sai-switch-paddle" for="switch1"></label>
    <br>
    <input class="sai-switch" id="switch2" type="checkbox" checked name="switch2" disabled="disabled">
    <label class="sai-switch-paddle primary" for="switch2"></label>
    <br>
    <input class="sai-switch" id="switch3" type="checkbox" checked name="switch3" disabled="disabled">
    <label class="sai-switch-paddle secondary" for="switch3"></label>
    <br>
    <input class="sai-switch" id="switch4" type="checkbox" checked name="switch4" disabled="disabled">
    <label class="sai-switch-paddle alert" for="switch4"></label>
    <br>
    <input class="sai-switch" id="switch5" type="checkbox" checked name="switch5" disabled="disabled">
    <label class="sai-switch-paddle warning" for="switch5"></label>
    <br>
    <input class="sai-switch" id="switch6" type="checkbox" checked name="switch6" disabled="disabled">
    <label class="sai-switch-paddle success" for="switch6"></label>
    <br>


    <textarea class="sai" rows="4" disabled="disabled">Tekstvak!</textarea>
    <br>

    <select class="sai" name="opties1" disabled="disabled">
        <option>Optie 1</option>
        <option>Optie 2</option>
        <option>Optie 3</option>
    </select>
    <br>
    <select class="sai primary" name="opties2" disabled="disabled">
        <option>Optie 1</option>
        <option>Optie 2</option>
        <option>Optie 3</option>
    </select>
    <br>
    <select class="sai secondary" name="opties3" disabled="disabled">
        <option>Optie 1</option>
        <option>Optie 2</option>
        <option>Optie 3</option>
    </select>
    <br>
    <button disabled="disabled" class="sai">Default</button>
    <button disabled="disabled" class="sai hollow">Default hollow</button>
    <br>
    <button disabled="disabled" class="sai primary">Primary</button>
    <button disabled="disabled" class="sai primary hollow">Primary hollow</button>
    <br>
    <button disabled="disabled" class="sai secondary">Secondary</button>
    <button disabled="disabled" class="sai secondary hollow">Secondary hollow</button>
    <br>
    <button disabled="disabled" class="sai alert">Alert</button>
    <button disabled="disabled" class="sai alert hollow">Alert hollow</button>
    <br>
    <button disabled="disabled" class="sai warning">Warning</button>
    <button disabled="disabled" class="sai warning hollow">Warning hollow</button>
    <br>
    <button disabled="disabled" class="sai success">Success</button>
    <button disabled="disabled" class="sai success hollow">Success hollow</button>
</div>
