<!-- MENU HORIZONTAL-->
<nav class="sai-menu horizontal">
    <div class="menu-bar">
        <div class="logo">
            <img src="/sai-assets/images/logo.png" />
        </div>
        <div class="menu-items">
            <ul>
                <li class="active">
                    <a href="#item1" data-submenu-trigger="item1">Item 1</a>
                </li>
                <li>
                    <a href="#item2">Item 2</a>
                </li>
            </ul>
        </div>
        <div class="account">
            <div class="account-icon" style="background-image: url('/sai-assets/images/account-icon.png');"></div>
        </div>
    </div>
    <div class="menu-bar submenu" data-submenu="item1">
        <div class="menu-items">
            <ul>
                <li class="group">
                    <span class="groupname">Item 1 Group 1</span>
                    <ul>
                        <li>
                            <a href="#subitem1">Subitem 1</a>
                        </li>
                        <li class="active">
                            <a href="#subitem2">Subitem 2</a>
                        </li>
                    </ul>
                </li>
                <li class="group">
                    <span class="groupname">Item 1 Group 2</span>
                    <ul>
                        <li>
                            <a href="#subitem3">Subitem 3</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- /MENU HORIZONTAL-->

<!-- MENU VERTICAL-->
<nav class="sai-menu vertical">
    <div class="logo">
        <img src="/sai-assets/images/logo.png" />
    </div>
    <div class="menu-items">
        <ul>
            <li class="active">
                <a href="#item1">Item 1</a>
                <ul class="group" data-group-title="Divider 1">
                    <li>
                        <a>Subitem 1</a>
                    </li>
                    <li>
                        <a>Subitem 2</a>
                    </li>
                    <li>
                        <a>Subitem 3</a>
                    </li>
                </ul>
                <ul class="group" data-group-title="Divider 2">
                    <li>
                        <a>Subitem 1</a>
                    </li>
                    <li>
                        <a>Subitem 2</a>
                    </li>
                    <li>
                        <a>Subitem 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#item2">Item 2</a>
            </li>
            <li>
                <a href="#item3">Item 3</a>
            </li>
        </ul>
    </div>
    <div class="account">
        <div class="account-icon" style="background-image: url('/sai-assets/images/account-icon.png');"></div>
    </div>
</nav>
<!-- /MENU VERTICAL -->
