<a data-open="modal1">Open modal</a>

<div class="sai-modal" id="modal1">
    <h3>Modal Pop-up</h3>
    <p>Content</p>

    <button class="sai primary">OK</button>
    <button class="sai primary hollow" data-close="">CANCEL</button>
</div>
