<div class="sai-panel">
    <div class="header">
        <span class="title">Header</span>
        <ul class="buttons sai-right">
            <li class="close"></li>
            <li class="plus"></li>
            <li class="move"></li>
            <li class="trigger"></li>
        </ul>
    </div>
    <div class="content">
        Content
    </div>
    <div class="footer">
        Footer
    </div>
</div>
