<div class="sai-sidebar right collapsed push">
    <div class="header">
        <span class="trigger"></span>
        <span class="title">Sidebar</span>
    </div>
    <div class="content">
        Content
    </div>
    <div class="footer">
        Footer
    </div>
</div>
