<table class="sai-table">
    <thead>
        <tr>
            <th width="2*"></th>
            <th width="1*">Col 1</th>
            <th width="1*">Col 2</th>
            <th width="1*">Col 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1</td>
            <td>
                <span>Default</span>
            </td>
            <td>
                <span class="highlight">Highlight</span>
            </td>
            <td>
                <span class="highlight background">Highlight + Background</span>
            </td>

        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>Footer</td>
            <td>
                <span>1</span>
            </td>
            <td>
                <span>2</span>
            </td>
            <td>
                <span>3</span>
            </td>
        </tr>
    </tfoot>
</table>
