// ATHELAS
@font-face {
  font-family: 'Athelas Bold';
  src: sai-font('athelas/Athelas-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Athelas BoldItalic';
  src: sai-font('athelas/Athelas-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Athelas Italic';
  src: sai-font('athelas/Athelas-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Athelas Regular';
  src: sai-font('athelas/Athelas-Regular.ttf') format('truetype');
}

// BRANDON GROTESQUE
@font-face {
  font-family: 'Brandon Grotesque Bold Italic';
  src: sai-font('brandon-grotesque/Brandon_bld_it.otf') format('opentype');
}
@font-face {
  font-family: 'Brandon Grotesque Bold';
  src: sai-font('brandon-grotesque/Brandon_bld.otf') format('opentype');
}
@font-face {
  font-family: 'Brandon Grotesque Light Italic';
  src: sai-font('brandon-grotesque/Brandon_light_it.otf') format('opentype');
}
@font-face {
  font-family: 'Brandon Grotesque Light';
  src: sai-font('brandon-grotesque/Brandon_light.otf') format('opentype');
}
@font-face {
  font-family: 'Brandon Grotesque Medium Italic';
  src: sai-font('brandon-grotesque/Brandon_med_it.otf') format('opentype');
}
@font-face {
  font-family: 'Brandon Grotesque Medium';
  src: sai-font('brandon-grotesque/Brandon_med.otf') format('opentype');
}
@font-face {
  font-family: 'Brandon Grotesque Regular Italic';
  src: sai-font('brandon-grotesque/Brandon_reg_it.otf') format('opentype');
}
@font-face {
  font-family: 'Brandon Grotesque Regular';
  src: sai-font('brandon-grotesque/Brandon_reg.otf') format('opentype');
}

// LORA
@font-face {
  font-family: 'Lora Bold';
  src: sai-font('lora/Lora-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lora Italic';
  src: sai-font('lora/Lora-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Lora Regular';
  src: sai-font('lora/Lora-Regular.ttf') format('truetype');
}
