html, body {
    font-family: $body-font-family;
    color: $body-font-color;
    font-weight: 100;
    height: 100%;
    width: 100%;
    margin: 0;

    div#main {
        @include grid-row;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: none;
        transition: all $global-transition-speed;

        > .content {
            @include grid-column(12);
            padding: rem-calc(17 10) !important;
        }
    }
    
    hr {
        max-width: none;
    }
}

.row {
    max-width: none;
}
