.#{$package-prefix}-docs-page {
    .sai-table img {
        max-height: 500px;
    }

    pre, code {
        border: none;
    }


    .legend {
        li {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .template-list {
        list-style: none;
    }
    
    #helper-classes {
        i {
            float: right;
            line-height: inherit;
        }
    }
}
